@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.cardSection {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: #121321;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  /* perspective: 1000px; */
}

.cardSection::before,
.cardSection::after {
  content: "";
  position: absolute;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  background: linear-gradient(113deg, #e8130b, #4bc6c6);
}

.cardSection::before {
  transform: translate(-150px, -100px);
}

.cardSection::after {
  transform: translate(150px, 100px);
}

.cardContainer {
  position: relative;
  height: 225px;
  width: 375px;
  z-index: 100;

  transition: 0.6s;
  transform-style: preserve-3d;
}

.cardContainer:hover {
  transform: rotateY(180deg);
}

.cardContainer .flipCard {
  position: absolute;
  height: 100%;
  width: 100%;

  padding: 25px;
  border-radius: 25px;

  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);

  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);

  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.frontFace {
  backface-visibility: hidden;
}

.frontFace header,
.frontFace .logoBox {
  display: flex;
  align-items: center;
}

.frontFace header {
  justify-content: space-between;
}

.logoBox img {
  width: 48px;
  margin-right: 10px;
}

.frontFace .chipImg {
  width: 50px;
}

.frontFace .cardDetails {
  display: flex;
  margin-top: 40px;
  align-items: flex-end;
  justify-content: space-between;
}

h5 {
  font-size: 16px;
  font-weight: 400;
}

h6 {
  font-size: 10px;
  font-weight: 400;
}

h5.cardNumber {
  font-size: 18px;
  letter-spacing: 1px;
}

h5.cardName {
  margin-top: 20px;
}


.flipCard.backFace {
  border: none;
  padding: 15px 25px 25px 25px;
  transform: rotateY(180deg);
}

.backFace h6 {
  font-size: 8px;
}

.backFace .magStrip {
  position: absolute;
  top: 40px;
  left: 0;
  height: 45px;
  width: 100%;
  background: #000;
}

.backFace .signatureBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-top: 80px;
  height: 40px;
  width: 85%;

  border-radius: 6px;
  background: repeating-linear-gradient(
    #fff,
    #fff 3px,
    #efefef 0px,
    #efefef 9px
  );
}

.signatureBox i {
  color: #000;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 4px;
  background-color: #fff;
  margin-right: -30px;
  z-index: -1;
}

.backFace h5 {
  font-size: 8px;
  margin-top: 15px;
}